<router-outlet></router-outlet>

<h1>Ejercicios 1 y 2</h1>

<label for="edadUno">Edad Uno:</label>
<input type="number" [(ngModel)]="edadUno" id="edadUno">

<br><br>

<label for="edadDos">Edad Dos:</label>
<input type="number" [(ngModel)]="edadDos" id="edadDos">

<br><br>

<button (click)="calcular()">Calcular</button>
<button (click)="limpiar()">Limpiar</button>

<br><br>

<label for="suma">Suma:</label>
<input type="text" [value]="suma" id="suma" readonly>

<br><br>

<label for="promedio">Promedio:</label>
<input type="text" [value]="promedio" id="promedio" readonly>
